.users{
    text-align: center;
    padding-top: 60px;
}
table {
    margin-top: 40px;
    width: 100%;
}

th {
    text-align: center;
    border: 1px solid black;
}

td {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}